body {
    font-family: Arial, sans-serif;
    background-image:url("Background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    width: 300px;
    text-align: center;
    background: transparent;
}

h1 {
    margin-bottom: 20px;
}
label {
    display: block;
    margin: 10px 0 5px;
    text-align:left;
}


input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #4cae4c;
}

#message {
    color: rgb(0, 0, 0);
}
